.dropzone {
  position: relative;
  height: 30vh;
  min-height: 350px;
  padding: 2rem;
  background-color: $primary;
  cursor: pointer;

  &:hover {
    background-color: darken($primary, 5%);
  }

  &.dropzone--active:after {
    content: "DROP HERE";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lighten($primary, 70%);
    opacity: 0.8;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $headings-font-family;
    font-size: 6rem;
    font-weight: $headings-font-weight;
  }
}