@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,700|Kameron:400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "variables";
@import "~bootstrap/scss/bootstrap";

body {
  letter-spacing: 0.5px;
  word-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-text-stroke: 0.15px;
  min-height: 100vh;
}

hr {
  border-top: 1px solid rgba($white, 0.1);
}

.hl {
  color: $yellow !important;
}

.mw-50 {
  max-width: 50%;
}

.list-group-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-lg {
  .material-icons {
    line-height: 1.5;
  }
}

@import "dropzone";
@import "side-modal";